<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hr.dao.RightMapper" >
  <resultMap id="BaseResultMap" type="com.hr.entity.Right" >
    <id column="right_code" property="rightCode" jdbcType="VARCHAR" />
    <result column="right_parent_code" property="rightParentCode" jdbcType="VARCHAR" />
    <result column="right_text" property="rightText" jdbcType="VARCHAR" />
    <result column="right_type" property="rightType" jdbcType="VARCHAR" />
    <result column="right_url" property="rightUrl" jdbcType="VARCHAR" />
    <result column="right_tip" property="rightTip" jdbcType="VARCHAR" />
    <result column="update_dateTime" property="updateDatetime" jdbcType="DATE" />
  </resultMap>
  <sql id="Base_Column_List" >
    right_code, right_parent_code, right_text, right_type, right_url, right_tip, update_dateTime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from right
    where right_code = #{rightCode,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from right
    where right_code = #{rightCode,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.hr.entity.Right" >
    insert into right (right_code, right_parent_code, right_text, 
      right_type, right_url, right_tip, 
      update_dateTime)
    values (#{rightCode,jdbcType=VARCHAR}, #{rightParentCode,jdbcType=VARCHAR}, #{rightText,jdbcType=VARCHAR}, 
      #{rightType,jdbcType=VARCHAR}, #{rightUrl,jdbcType=VARCHAR}, #{rightTip,jdbcType=VARCHAR}, 
      #{updateDatetime,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" parameterType="com.hr.entity.Right" >
    insert into right
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="rightCode != null" >
        right_code,
      </if>
      <if test="rightParentCode != null" >
        right_parent_code,
      </if>
      <if test="rightText != null" >
        right_text,
      </if>
      <if test="rightType != null" >
        right_type,
      </if>
      <if test="rightUrl != null" >
        right_url,
      </if>
      <if test="rightTip != null" >
        right_tip,
      </if>
      <if test="updateDatetime != null" >
        update_dateTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="rightCode != null" >
        #{rightCode,jdbcType=VARCHAR},
      </if>
      <if test="rightParentCode != null" >
        #{rightParentCode,jdbcType=VARCHAR},
      </if>
      <if test="rightText != null" >
        #{rightText,jdbcType=VARCHAR},
      </if>
      <if test="rightType != null" >
        #{rightType,jdbcType=VARCHAR},
      </if>
      <if test="rightUrl != null" >
        #{rightUrl,jdbcType=VARCHAR},
      </if>
      <if test="rightTip != null" >
        #{rightTip,jdbcType=VARCHAR},
      </if>
      <if test="updateDatetime != null" >
        #{updateDatetime,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hr.entity.Right" >
    update right
    <set >
      <if test="rightParentCode != null" >
        right_parent_code = #{rightParentCode,jdbcType=VARCHAR},
      </if>
      <if test="rightText != null" >
        right_text = #{rightText,jdbcType=VARCHAR},
      </if>
      <if test="rightType != null" >
        right_type = #{rightType,jdbcType=VARCHAR},
      </if>
      <if test="rightUrl != null" >
        right_url = #{rightUrl,jdbcType=VARCHAR},
      </if>
      <if test="rightTip != null" >
        right_tip = #{rightTip,jdbcType=VARCHAR},
      </if>
      <if test="updateDatetime != null" >
        update_dateTime = #{updateDatetime,jdbcType=DATE},
      </if>
    </set>
    where right_code = #{rightCode,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hr.entity.Right" >
    update right
    set right_parent_code = #{rightParentCode,jdbcType=VARCHAR},
      right_text = #{rightText,jdbcType=VARCHAR},
      right_type = #{rightType,jdbcType=VARCHAR},
      right_url = #{rightUrl,jdbcType=VARCHAR},
      right_tip = #{rightTip,jdbcType=VARCHAR},
      update_dateTime = #{updateDatetime,jdbcType=DATE}
    where right_code = #{rightCode,jdbcType=VARCHAR}
  </update>
</mapper>